<ion-content padding>

  <div class="trainingText">
    <div class="add_new_Training">
      הוספת שקילה חדשה
    </div>

    <form #f="ngForm" class="Form" (ngSubmit)="onSubmit(f)">
      <ion-list>

        <ion-item class="formElement">
          <ion-label>בחר תאריך</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
        </ion-item>

        <ion-item class="formElement">
          <ion-label>הוסף משקל</ion-label>
          <ion-input [(ngModel)]="weight" name="weight"></ion-input>
        </ion-item>



      </ion-list>

      <button type="submit" ion-button block>דווח </button>
      <a type="button" class="cancelBTN" ion-button block (click)="closePopUp()">בטל </a>
    </form>
  </div>

</ion-content>