page-customers {
    
  .Content
  {
    background-image: url('../images/trainings_bck.jpg');
    background-size:100% 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  // .backgroundImage
  // {
  //   position: absolute;
  //   z-index: -1;
  // }

  .youtubeBTN
    {
      width: 100%;
      text-align: right;
      direction: rtl;;
    }

    .youTubeVideo{
      height:200px !important;
      width:100%;
      background-color: black !important;
      // background-image: url("../images/splash.jpg");
      background-size: 100% 200px;
    }
}
