<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo" />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="Content">
  <!-- <div class="backgroundImage">
    <img src="images/menu_bck.jpg" class="imageclass" />
  </div> -->
  <div padding>
    <a href="https://www.youtube.com/channel/UCQtbZ_00gNELECd5scYquYA/featured">
      <button ion-button class="youtubeBTN">לערוץ שלנו ב YOUTUBE</button></a>
    <div class="mt-3">
      <div *ngFor="let movie of movies" class="mt-2">
        <!-- <iframe *ngIf="movie != ''" width="100%" height="230"
          [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+movie.title | safe)"
          frameborder="0" allowfullscreen></iframe> -->
        <iframe *ngIf="movie != ''" class="youTubeVideo" [src]="'https://www.youtube.com/embed/'+movie.title | safe"
          frameborder="0" allowfullscreen width="100%" height="230"></iframe>
      </div>
    </div>
  </div>
</ion-content>