<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo" />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <div class="AboutInfo">
    <img src="images/home/1.jpg" style="width:100%" />
  </div> -->
  <div class="backgroundImage">
    <img src="images/trainings_bck.jpg" class="imageclass" />
  </div>


  <div class="loginMain333 AboutInfo" *ngIf="sendForm">
    <div class="loginTitle">
      איך נפסיק לנשנש ב 3 ימים?
    </div>
    <div class="loginDesc">
      לצפייה בסרטון יש למלא את הפרטים
    </div>
    <div class="InputsText mt-5" align="center">
      <div class="InputText">
        <input type="text" placeholder=" שם מלא" [(ngModel)]="Contact.name" />
      </div>
      <div class="InputText mt10">
        <input type="text" placeholder=" מספר טלפון" [(ngModel)]="Contact.phone" />
      </div>
      <div class="InputText mt10">
        <input type="text" placeholder=" אימייל" [(ngModel)]="Contact.mail" />
      </div>
      <!-- <div class="InputText mt10">
        <textarea [(ngModel)]="Contact.details" name="info" placeholder=" קצת פרטים עלייך" rows="4"></textarea>
      </div> -->

      <button ion-button class="IntroButton" (click)="SendForm()">שלח פרטים</button>
    </div>
  </div>

  <div class="loginMain AboutInfo VideoInfo" *ngIf="!sendForm">
    <!-- <iframe width="100%" height="315"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+movie)" frameborder="0"
      allowfullscreen></iframe> -->

      <iframe class="youTubeVideo" [src]="'https://www.youtube.com/embed/'+movie | safe" frameborder="0" allowfullscreen
      width="100%" height="315"></iframe>
  </div>
</ion-content>