page-register {
  .blueStrip {
    position: absolute;
    width: 100px;

    height:100%;
    left: 60%;
  }

  .blueStripOpacity
  {
    position: absolute;
    width: 100px;
    background-color: #007aff;
    height:100%;
    opacity: 0.3;
  }

  .mainIcon
  {
    position: relative;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
  }

  .mainIcon img
  {
    margin-top:10px;
  }

  .imageclass
  {
    height: 100%;
  }

  .logOutButton
  {
    background-color:#808080;
    color: white;
    text-align: right;
    margin-left: 30px;
    margin-top: 13px;
    border-radius: 5px;
    height: 25px;
    padding-top: 3px;
  }

  .logOutButton p
  {
    margin-top: 2px;
  }

}
