page-trainings {
  .Content
  {
    background-image: url('../images/trainings_bck.jpg');
    background-size:100% 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
  }

  .footerClass
  {
    height:50px;
  }

  .footerClass img
  {
    top:0px;
    position: relative;
    width: 100%;
    height:50px;
  }

  .trainigInfo
  {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .trainingsTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .TraningInfo
  {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    text-align: right;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .rightTraningInfo1{
    font-size: 16px;
    font-weight: bold;
  }

  hr{
    padding: 0px !important;
    margin: 5px 0px 0px 0px !important;
  }

  .leftTraningInfo
  {
    float: left;
    width: 25%;
    color: #282828;
    margin-top:5px;
  }

  .rightTraningInfo
  {
    float: left;
    width: 65%;
    text-align: left;
    font-weight: bold;
    color: #282828;
    font-size: 21px;
  }

  // .custom-modal {
  //   position: absolute;
  //   top: 80px;
  //   left: 45px;
  //   display: block;
  //   width: 70%;
  //   height: 62%;
  //   background-color: red;;
  //   padding: 40px;;
  //   }


}


.custom-modal {
    position: absolute;
    top: 120px;
    display: block;
    width: 90%;
    margin-left: 5%;
    height: 350px;
    z-index: 100;
  }

