<!--
  Generated template for the PopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content text-center>

    <!-- <ion-row>
        <ion-col text-right padding-right>
            <ion-icon name="close" style="font-size: 30px;" (click)="closeModal()"></ion-icon>
        </ion-col>
    </ion-row> -->

    <button ion-button class="IntroButtonClose" (click)="closeModal()">סגור</button>

    <div class="div100" align="center" (click)="closeModal()">
        <div class="div90">
            <img src="{{img_url}}" class="w100" />
        </div>
    </div>
    <button ion-button class="IntroButton">יש לשתות 2 כוסות מים</button>

</ion-content>