page-popup
{
  ion-content {
    background: #000000 !important;
    opacity: 0.95;
    color: white !important;
  }

  .div90
  {
    width: 90%;
  }

  .div100 {
    margin-top: 40%;
    width: 100%;
  }

  .IntroButton
  {
    margin-top: 100px;
    width: 80%;
    font-size: 26px;
    padding: 2px 20px !important;
    font-weight: bold;;
  }

  .IntroButtonClose{
    margin-top: 10px;
    padding: 5px 20px !important;
    position:relative;
    right:20px;
    position: absolute;
    font-weight: bold;;
    right:8px;
  }

}

