page-add-training {

  .footerImage
  {
    position: absolute;
    bottom: 0px;
    height:260px;
  }

  .trainingText {
    position: relative;
    margin-top: 20px;
  }

  ion-modal {
    position: absolute;
    top: 80px;
    left: 45px;
    display: block;
    width: 70%;
    height: 62%;
    }

  .add_new_Training
  {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size:18px;
  }

  .cancelBTN{
    background-color: red !important;
    margin-top: 10px;;
    color:white !important;
    font-weight: bold;;
  }

  .backgroundImage
  {
    position: absolute;
  }

  .Form
  {
    direction: rtl !important;
    margin-top: 20px;
  }

  .formElement
  {
    background-color: inherit;
  }

  .footerClass
  {
    height:0px;
  }

  .footerClass img
  {
    top:0px;
    position: relative;
    width: 100%;
    height:10px;
  }
}


