page-home {
  .mainImage
  {
    .item-inner
    {
      padding: 0 !important;
      margin: 0 !important;
    }

    ion-label
    {
      margin: 0px !important;
    }
 
    .button-md , .button-ios
    {
      height:auto !important;
      width: 100%;
      margin: 0px !important;
      padding: 0px;
    }
  }

  .youTubeVideo{
    height:200px !important;
    width:100%;
    background-color: black !important;
    background-image: url("../images/splash.jpg");
    background-size: 100% 200px;
  }
}
