<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content>
  <div>

    <!-- <iframe class="youTubeVideo"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+movie)" frameborder="0"
      allowfullscreen></iframe> -->
    <!-- <iframe class="youTubeVideo2"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/hY5QSLll65A')" frameborder="0"
      allowfullscreen width="100%" height="200"></iframe> -->

    <!-- <iframe *ngIf="movie != ''" width="100%" height="230"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/hY5QSLll65A')" frameborder="0"
      allowfullscreen></iframe> -->
    <iframe class="youTubeVideo" [src]="'https://www.youtube.com/embed/'+movie | safe" frameborder="0" allowfullscreen
      width="100%" height="200"></iframe>
    <!-- <iframe width="100%" height="200"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+movie)" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <div class="mainImage" style="margin-top: 5px;">
      <button no-padding ion-button><img (click)="onGoToAboutPage()" src="images/home/new/15.jpg"
          style="width: 100%;" /></button>
    </div>

    <div class="mainImage" style="margin-top: 10px;">
      <button no-padding ion-button><img (click)="onGoToRegister()" src="images/home/new/16.jpg"
          style="width: 100%;" /></button>
    </div>

    <div class="mainImage" style="margin-top: 10px;">
      <button no-padding ion-button><img (click)="onGoToCustomers()" src="images/home/new/17.jpg"
          style="width: 100%;" /></button>
    </div>

    <!-- <div class="mainImage">
      <button no-padding ion-button><img (click)="onGoToAboutPage()" src="images/main1.jpg"
          style="width: 100%;" /></button>
    </div>
    <div class="mainImage" style="margin-top: 10px;">
      <button no-padding ion-button><img (click)="onGoToQuestion()" src="images/main2.jpg"
          style="width: 100%;" /></button>
    </div>
    <div class="mainImage" style="margin-top: 10px;">
      <button no-padding ion-button><img (click)="onGoToRegister()" src="images/main3.jpg"
          style="width: 100%;" /></button>
    </div> -->
  </div>
</ion-content>