// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


body {

}

.mt20
{
  margin-top: 20px;
}

.ToolBarClass
{
  width:100%;
  overflow:hidden;
}

.ToolBarBackButton
{
  width:25%;
  float:left
}

.ToolBarTitle
{
  width:50%;
  float:left;
  text-align:center;
  margin-top:10px;
}


.alertCustomCss{
  background-color: white;
  color: red;
  font-size: 30px;
  text-align: center;
  float: right;
  direction: rtl;

  .alert-message {
    color: white; // text color for confirm alerts
    font-size: 30px;
  }

  .alert-wrapper {
    width: 80%;
    font-size: 30px;
  }

  .alert-danger {
    width: 80%;
    font-size: 30px;
  }

  .alert-success {
    width: 80%;
    font-size: 30px;
  }
}



/*

body select {
  left: 0;
  right:auto;
  padding: 0 16px 0 48px;
  direction: rtl;
}

body .item-select:after {
  left: 16px;
  right: auto;
  direction: rtl;
}*/

.backgroundImage
{
  height:100%;
  overflow:hidden;
}

.photoImage {
  width:300px;
  height:300px;
}


.photoImage2 {
  width:100%;
}



.imageclass {
  height:100%;
}

.imageButtonClass {
  width:100%;
}



.headLogo {
  width:70px;
}

.no-padding {
  padding: 0px !important;
}


.Height100
{
  height: auto;
}

.Toast
{
  text-align: center;
}