page-movies {
    .backgroundImage
    {
      position: absolute;
      z-index:-1;
    }

    .btns{
        background-color: #f5f5f5;
        text-align: center;
        padding: 0px !important;
    }

    .regBtn{
        padding: 7px 0px !important;
        font-size: 17px;;
        font-weight: bold;;
    } 
    
    .btnSelected{
        border-bottom:3px solid #ccc;
        background-color:#414143;
        color:white;
        font-size: 17px;;
        font-weight: bold;;
    }

    .youTubeVideo{
        height:200px !important;
        width:100%;
        background-color: black !important;
        // background-image: url("../images/splash.jpg");
        background-size: 100% 200px;
      }
}
