<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button ion-button icon-only clear (click)="goToRegister()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo" />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="backgroundImage">
    <img src="images/trainings_bck.jpg" class="imageclass" />
  </div>


  <div class="row btns">
    <div [ngClass]="selected == 4 ? 'col-6 regBtn btnSelected' : 'col-6 regBtn'" (click)="changeStstus(4)">
      אימון פיזי
    </div>
    <div [ngClass]="selected == 5 ? 'col-6 regBtn btnSelected' : 'col-6 regBtn'" (click)="changeStstus(5)">
      אימון מנטלי
    </div>
  </div>

  <div *ngFor="let movie of movies" class="mt-2">
    <!-- <iframe *ngIf="movie != ''" width="100%" height="230"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+movie.title)" frameborder="0"
      allowfullscreen></iframe> -->

      <iframe *ngIf="movie != ''" class="youTubeVideo" [src]="'https://www.youtube.com/embed/'+movie.title | safe"
      frameborder="0" allowfullscreen width="100%" height="230"></iframe>
  </div>
</ion-content>