<ion-header>
  <ion-toolbar no-border-top class="ToolBarClass">
    <div class="ToolBarBackButton">
      <button ion-button icon-only clear navPop>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </div>
    <div class="ToolBarTitle">
      <ion-title>
        <img src="images/head_logo.png" class="headLogo" />
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="Content">

  <div style="width: 100%; margin-top: 15px;" align="center" (click)="AddWeight()">
    <div style="width: 95%" align="center">
      <button ion-button block padding style="font-size: 22px; font-weight: bold">הוסף שקילה</button>
    </div>
  </div>

  <!-- Tabs -->
  <div class="weightContent">
    <div class="trainingsTitle">
      טבלת שקילות
    </div>

    <div class="TraningInfo" *ngFor="let weight of WeightArray">
      <div class="leftTraningInfo1">
        תאריך : {{changDateDirection(weight.date)}}
      </div>
      <div class="rightTraningInfo1">
        משקל : {{ weight.weight }}

        <!--TrainingsTypes[training.type].title-->
      </div>
      <hr />
    </div>

    <!-- <div class="TabsButton" align="center">
        <div class="TabsButtonDiv">
          <div class="TabsButtonLeft">
            <button ion-button [ngClass]="{'PersonalSelected' : (TabSelected == 0), 'GroupSelected':(TabSelected == 1)}" (click)="changeTab(0)" block>הקבוצה שלי </button>
          </div>
          <div class="TabsButtonRight">
            <button ion-button [ngClass]="{'PersonalSelected' : (TabSelected == 1), 'GroupSelected':(TabSelected == 0)}" (click)="changeTab(1)" full>המשקל שלי</button>
          </div>
        </div>
    </div> -->

    <!-- Personal Weight -->
    <!-- <div *ngIf="TabSelected == 1">
      <div *ngFor="let weight of WeightArray let i=index">
        <ion-list class="weightList" *ngFor="let w of WeightArray[i].weights">
          <div *ngIf="Uid == w.attendee_id">
            <ion-item class="weightItem">
              <ion-label class="LabelRight">
                {{w.weight}} <span class="KG">ק"ג</span>
              </ion-label>
              <ion-label class="LabelRight">
                {{weight.date}}
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div> -->


    <!-- Group Dates -->

    <!-- <div *ngIf="TabSelected == 0 && GroupWeightOpen == 0">
      <div *ngFor="let weight of WeightArray let i=index">
        <ion-list class="weightList" *ngFor="let w of weight.weights " (click)="openGroupPage(i)">
          <div>
            <!-- <ion-item class="weightItem" *ngIf="Uid == w.attendee_id">
              <ion-label class="LabelLeft">
                <ion-icon name="ios-arrow-back"></ion-icon>
              </ion-label>
              <ion-label class="LabelRight">
                {{weight.date}}
              </ion-label>
            </ion-item> 

            <div class="leftTraningInfo1">
              {{weight.date}}
            </div>
            <div class="rightTraningInfo1">
              {{weight.weight}}
              <!--TrainingsTypes[training.type].title
            </div>
            <hr />
          </div>

      </div>
      </ion-list>
    </div>
  </div> -->

    <!-- Group Weights -->
    <!-- <div *ngIf="TabSelected == 0 && GroupWeightOpen == 1">
    <ion-list class="weightList" *ngFor="let weight of currentDateWeightArray let i=index">
      <div>
        <ion-item class="weightItem">
          <ion-label class="LabelLeft" style="direction: rtl;">
            {{weight.weight1|number:'1.2-2'}} <span class="KG">ק"ג</span>
          </ion-label>
          <ion-label class="LabelRight">
            {{weight.name}}
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div> -->
  </div>

</ion-content>