page-weight {

  .Content
  {
    background-image: url('../images/weight_bck.jpg');
    background-size:100% 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
  }


  .backgroundImage
  {
    position: absolute;
  }

  .TabsButtonDiv
  {
    width: 60%;
    overflow: hidden;
    margin-top: 20px;
  }

  .TabsButtonLeft
  {
    width: 45%;
    float: left;
  }

  .TabsButtonRight
  {
    width: 45%;
    float: right;
  }
  .TabsButton
  {
    width: 100%;
  }

  .GroupSelected
  {
    background-color: #f5f5f5;
    color: black;
  }

  .PersonalSelected
  {
    background-color: #00b0eb;
    color: white;
  }

  .WeightInfo
  {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
  }

  .rightWeightInfo
  {
    float: right;
    width: 25%;
    color: #282828;
    margin-top:5px;
    text-align:right;
    margin-right:30px;
  }

  .leftWeightInfo
  {
    float: left;
    width: 65%;
    text-align: right;
    font-weight: bold;
    color: #282828;
    font-size: 21px;
    direction: rtl;
  }

  .rightGroupWeightInfo
  {
    float: right;
    width: 25%;
    color: #282828;
    margin-top:12px;
  }

  .leftGroupWeightInfo
  {
    float: left;
    width: 65%;
    text-align: left;
    font-weight: bold;
    color: #282828;
    font-size: 25px;
    direction: rtl;
    margin-top: 5px;
    margin-left: 20px;
  }


  .KG
  {
    font-size: 12px;
  }
  .weightContent
  {
    position: relative;
    text-align: center;
    margin-top: 5px;
  }

  .weightItem
  {
    background-color: inherit;
    margin-top:-15px !important;
  }

  .LabelRight {
    text-align: right;
    direction: rtl
  }

  .LabelLeft
  {
    text-align: left;
    direction: rtl;
  }

  .weightList
  {
    margin-top:20px;
  }

  .trainingsTitle {
    font-size: 28px;
    font-weight: bold;
    color: #00b0eb;
  }


  .TraningInfo
  {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    text-align: right;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .rightTraningInfo1{
    font-size: 16px;
    font-weight: bold;
  }

  hr{
    padding: 0px !important;
    margin: 5px 0px 0px 0px !important;
  }



}
